{
  "trailingComma": "none",
  "useTabs": true,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/svg/(.*)$",

    "^@/api/(.*)$",
    "^@/assets/(.*)$",
    "^@/config/(.*)$",
    "^@/hooks/(.*)$",
    "^@/layout/(.*)$",
    "^@/providers/(.*)$",
    "^@/router/(.*)$",
    "^@/services/(.*)$",
    "^@/shared/(.*)$",
    "^@/store/(.*)$",
    "^@/utils/(.*)$",
    "^@/views/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
